@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css';

/* /Components/EditEvent.razor.rz.scp.css */

.edit-event[b-yl872a2m04]  .input-box {
    width: 96%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
    .edit-event[b-yl872a2m04]  .input-box:disabled {
        color: #000000;
        background-color: var(--menu-light-blue);
        border: solid;
        border-color: #000000;
        border-width: 1px;
        border-radius: 5px;        
    }
.edit-event[b-yl872a2m04]  .input-box-area {
    width: 96%;
    margin: 5px;
}
        .edit-event[b-yl872a2m04]  .input-box-area:disabled {
            color: #000000;
            background-color: var(--menu-light-blue);
            border: solid;
            border-color: #000000;
            border-width: 1px;
            border-radius: 5px;
        }
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-24h9dwy28o] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--menu-light-blue);
}

main[b-24h9dwy28o] {
    flex: 1;
}

.sidebar[b-24h9dwy28o] {
    background-image: linear-gradient(180deg, var(--hard-blue) 0%, var(--menu-med-blue) 100%);
}

.top-row[b-24h9dwy28o] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 1.5rem;
    font-size: .75em;
    display: flex;
    align-items: center;
}

    .top-row[b-24h9dwy28o]  a, .top-row[b-24h9dwy28o]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-24h9dwy28o]  a:hover, .top-row[b-24h9dwy28o]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-24h9dwy28o]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-24h9dwy28o] {
        justify-content: space-between;
    }

        .top-row[b-24h9dwy28o]  a, .top-row[b-24h9dwy28o]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-24h9dwy28o] {
        flex-direction: row;
    }

    .sidebar[b-24h9dwy28o] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-24h9dwy28o] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-24h9dwy28o]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-24h9dwy28o], article[b-24h9dwy28o] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-y2p31qz70g] {
    background-color: var(--menu-med-blue);
}

.top-row[b-y2p31qz70g] {
    height: 3.5rem;
    background-color: rgba(46, 58, 137, 0.5);
}

.navbar-brand[b-y2p31qz70g] {
    font-size: 1.1rem;
}

.bi[b-y2p31qz70g] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-y2p31qz70g] {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 9v11a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9"/><path d="M9 22V12h6v10M2 10.6L12 2l10 8.6"/></svg>');
}

.bi-plus-square-fill-nav-menu[b-y2p31qz70g] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-y2p31qz70g] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-settings-nav-menu[b-y2p31qz70g] {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>');
}

.bi-calendar-nav-menu[b-y2p31qz70g] {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>');
}

.bi-members-nav-menu[b-y2p31qz70g] {
    /*background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="white" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>');*/
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 -960 960 960" fill="white" stroke="%23ffffff" stroke-width="2"><path d="M160-320v-600h360v180q0 27 16.5 49t42.5 29l105 29q51 14 83.5 56.5T800-480v160zm80-80h480v-80q0-27-16.5-47.5T661-556l-105-30q-36-11-63-35.5T452-680h-72q-8 0-14-6t-6-14 6-14 14-6h64q-2-12-2.5-20t-1.5-20h-60q-8 0-14-6t-6-14 6-14 14-6h60v-40H240zM200-40q-50 0-85-35t-35-85 35-85 85-35 85 35 35 85-35 85-85 35m0-80q17 0 28.5-11.5T240-160t-11.5-28.5T200-200t-28.5 11.5T160-160t11.5 28.5T200-120m560 80q-50 0-85-35t-35-85 35-85 85-35 85 35 35 85-35 85-85 35m0-80q17 0 28.5-11.5T800-160t-11.5-28.5T760-200t-28.5 11.5T720-160t11.5 28.5T760-120M480-40q-50 0-85-35t-35-85 35-85 85-35 85 35 35 85-35 85-85 35m0-80q17 0 28.5-11.5T520-160t-11.5-28.5T480-200t-28.5 11.5T440-160t11.5 28.5T480-120m280-40"/></svg>');
}

.bi-attendance-nav-menu[b-y2p31qz70g] {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>');
}

.bi-help-nav-menu[b-y2p31qz70g] {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M12 17l0 .01" /><path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4" /></svg>');
}

.nav-item[b-y2p31qz70g] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-y2p31qz70g] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-y2p31qz70g] {
        padding-bottom: 1rem;
    }

    .nav-item[b-y2p31qz70g]  a {
        color: var(--menu-light-blue);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-y2p31qz70g]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-y2p31qz70g]  a:hover {
    background-color: rgba(255,255,255,0.15);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-y2p31qz70g] {
        display: none;
    }

    .collapse[b-y2p31qz70g] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-y2p31qz70g] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Attendance.razor.rz.scp.css */
.attendance-grid[b-0fjsy83nqe] {
    padding: 10px; /*inner*/
    border-radius: var(--calendar-radius);
    background: var(--menu-med-blue);
    margin: 10px;
    display: block;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    border: solid;
    border-width: 2px;
}

[b-0fjsy83nqe] .quickgrid {
    border-radius: var(--calendar-radius);
    border-collapse: separate;
    /*    background: var(--menu-light-blue);*/
    border: solid;
    border-width: 2px;
    font-weight: normal;
    width: 100%;
    height: 6.5rem;
    overflow-y: auto;
}

[b-0fjsy83nqe] thead {
    position: sticky;
    top: 0;
    background-color: var(--menu-header-blue)
}

[b-0fjsy83nqe] tbody tr {
    background-color: var(--menu-light-blue);
}

[b-0fjsy83nqe] tr:nth-child(even) {
    background: rgba(255,255,255,0.4);
}

[b-0fjsy83nqe] .dropdown-container {
    padding: 0px;
}
/* /Pages/Members.razor.rz.scp.css */
.members-grid[b-z9f67039gv] {
    padding: 10px; /*inner*/
    border-radius: var(--calendar-radius);
    background: var(--menu-med-blue);
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    font-size: .85em;
    font-weight: bold;
    overflow: hidden;
    border: solid;
    border-width: 2px;
}

.members-grid-col1[b-z9f67039gv] {
    min-width: 100px;

}
.members-grid-col2[b-z9f67039gv] {
    min-width: 90px;
}

[b-z9f67039gv] .quickgrid {
    border-radius: var(--calendar-radius);
    border-collapse: separate;
    /*    background: var(--menu-light-blue);*/
    border: solid;
    border-width: 2px;
    font-weight: normal;
    width: 100%;
    height: 4.5rem;
    overflow-y: auto;
}

[b-z9f67039gv] thead {
    position: sticky;
    top: 0;
    background-color: var(--menu-header-blue)
}

[b-z9f67039gv] tbody tr {
    background-color: var(--menu-light-blue);
}
[b-z9f67039gv] tr:nth-child(even) {
    background: rgba(255,255,255,0.4);
}

[b-z9f67039gv] .dropdown-container {
    padding: 0px; 
}

.members-grid-col-toggle-container[b-z9f67039gv] {
    border-radius: var(--calendar-radius);
    border: solid;
    border-width: 2px;
    width: 300px;
    margin: 10px;
    padding: 10px;
}
.members-grid-col-toggle[b-z9f67039gv] {

}

.members-button-container[b-z9f67039gv] {
    margin: 5px;
    display: flex;
}

.members-button-container .butt[b-z9f67039gv] {
    margin-right: 5px;
}
