/* /Components/CalendarItemView.razor.rz.scp.css */
.container[b-j68t3b553h] {
    padding: 5px; /*inner*/
    border-radius: 5px;
    background: #c2cfd3;
    margin: 0;
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    vertical-align: central;
    position: relative;
    overflow: hidden;
}

.body[b-j68t3b553h] {
    text-align: left;    
}
.date[b-j68t3b553h] {
    padding: 5px;
    font-size: 18px;
    margin-bottom: -5px;
}

.top[b-j68t3b553h] {
    display: flex;
    padding: 0px;
    width: 100%;
    margin-bottom: 5px;
}

.track[b-j68t3b553h] {
    background: #b4ccd7;
    display: inline-block;
    width: 49%;
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

.med[b-j68t3b553h] {
    background: #c9e0e4;
    display: flex;
    width: 49%;
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 5px;
}

.save[b-j68t3b553h] {
/*    background: #808080;
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;*/
    float: right;
    margin-right: 9px;
    padding: 5px;
    /*    align-content: flex-end;
    float: right;
    position: absolute;
    bottom: 3px;
    right: 3px;*/
}

.closebutton[b-j68t3b553h] {
    position: absolute;
    right: 3px;
}

.header[b-j68t3b553h] {
    height: 8%;
    width: 100%;
    background: #b4ccd7;
    border-bottom: solid;
    border-width: 3px;
    text-align: left;
}

.notes[b-j68t3b553h] {
    width: 100%;
    font-size: 13px;
    margin-left: 10px;
}
.notesinput[b-j68t3b553h] {
    width: 970%;
    margin-left: 10px;
}

@media (max-width: 641px) {
    .notes[b-j68t3b553h] {
        width: 15%;
        font-size: 11px;
        margin-left: 1px;
    }

    .track[b-j68t3b553h] {
        background: #b4ccd7;
        display: inline-block;
        width: 49%;
        padding: 10px;
        border: solid;
        border-width: 1px;
        border-radius: 5px;
    }
}
/* /Components/DropDown.razor.rz.scp.css */
.dropholder[b-awgruuy85e] {
    display: block;
    /*background: #ffd800;*/ /*yellow*/
    padding: 10px;
    margin: 1px;
    width: 100%;
    /*align-content: center;*/
    font-size: 13px;
}

.drop[b-awgruuy85e] {
    /*background: #f67fcf;*/ /*pink*/
    display: flex;
    padding: 10px;
    /*align-content: center;*/
    margin-left: 2px;
    font-size: 13px;
    width: 75%;
}
.droplabel[b-awgruuy85e] {
    width: 80%;
    display: block;
    /*background: #11963d;*/ /*green*/
}

@media (max-width: 641px) {
    .dropholder[b-awgruuy85e] {
        display: block;
        /*background: #ffd800;*/ /*yellow*/
        padding: 0px;
        margin: 1px;
        width: 100%;
        /*align-content: center;*/
        font-size: 11px;
    }

    .drop[b-awgruuy85e] {
        /*background: #f67fcf;*/ /*pink*/
        display: flex;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        /*align-content: center;*/
        margin-left: 2px;
        font-size: 11px;
        width: 100%;
    }
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-24h9dwy28o] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-24h9dwy28o] {
    flex: 1;
}

.sidebar[b-24h9dwy28o] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    width: 10px;
}

.top-row[b-24h9dwy28o] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-24h9dwy28o]  a, .top-row[b-24h9dwy28o]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-24h9dwy28o]  a:hover, .top-row[b-24h9dwy28o]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-24h9dwy28o]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-24h9dwy28o] {
        justify-content: space-between;
    }

    .top-row[b-24h9dwy28o]  a, .top-row[b-24h9dwy28o]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-24h9dwy28o] {
        flex-direction: row;
    }

    .sidebar[b-24h9dwy28o] {
        width: 190px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-24h9dwy28o] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-24h9dwy28o]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-24h9dwy28o], article[b-24h9dwy28o] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-y2p31qz70g] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-y2p31qz70g] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-y2p31qz70g] {
    font-size: 1.1rem;
}

.bi[b-y2p31qz70g] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-y2p31qz70g] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-y2p31qz70g] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-y2p31qz70g] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-y2p31qz70g] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-y2p31qz70g] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-y2p31qz70g] {
        padding-bottom: 1rem;
    }

    .nav-item[b-y2p31qz70g]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-y2p31qz70g]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-y2p31qz70g]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-y2p31qz70g] {
        display: none;
    }

    .collapse[b-y2p31qz70g] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-y2p31qz70g] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Calendar.razor.rz.scp.css */
ul[b-gpk3qcwo7x] {
    list-style-type: none;
}

body[b-gpk3qcwo7x] {
    font-family: Verdana, sans-serif;
}

.starttoggle[b-gpk3qcwo7x] {
    font-size: 12px;
    text-align: left;
    position: relative;
    bottom: 1px;
    color: white;
}

/* Month header */
.month[b-gpk3qcwo7x] {
    padding: 60px 25px;
    width: 100%;
    background: #2e3a89;
    text-align: center;
    height: 150px;
    font-size: 38px;
}

    /* Month list */
    .month ul[b-gpk3qcwo7x] {
        margin: 0;
        padding: 0;
    }

        .month ul li[b-gpk3qcwo7x] {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

    /* Previous button inside month header */
    .month .prev[b-gpk3qcwo7x] {
        float: left;
        padding-top: 10px;
    }

    /* Next button */
    .month .next[b-gpk3qcwo7x] {
        float: right;
        padding-top: 10px;
    }

/* Weekdays (Mon-Sun) */
.weekdays[b-gpk3qcwo7x] {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

    .weekdays li[b-gpk3qcwo7x] {
        display: inline-block;
        width: 13.6%;
        color: #666;
        text-align: center;
    }

.dayholder[b-gpk3qcwo7x] {
    padding: 10px;
    padding-bottom: 22px;
    padding-left: 25px;
    background: #2e3a89;
    color: #000000;
    width: 100%;
    height: 600px;
    min-width: 800px;
}

/* Days (1-31) */
.days[b-gpk3qcwo7x] {
    padding: 7px; /*inner*/
    border-radius: 5px;
    background: #eee;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 5px;
    display: inline-block;
    width: 13.6%;
    height: 19%;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
}

/*Practice Types*/
.practice[b-gpk3qcwo7x] {
    border-radius: 5px;
    font-weight: normal;
    padding-right: 2px;
    padding-left: 2px;
    overflow: clip;
}

.Wailers[b-gpk3qcwo7x] {
    background: #189229;
    color: white;
}
.Banshees[b-gpk3qcwo7x] {
    background: #e0d054;
}
.League[b-gpk3qcwo7x] {
    background: #3554d0;
    color: white;
}
.Rookies[b-gpk3qcwo7x] {
    background: #fa5252;
}
.Scrimmage[b-gpk3qcwo7x] {
    background: #42d8ed;
}

.notif[b-gpk3qcwo7x] {
    display: inline-block;
    object-fit: contain;
    float: left;
    text-align: center;
    width: 20%;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 20px;
    margin-top: 2px;
    font-weight: bold;
    word-wrap: anywhere;
    
}

.notif-trainer[b-gpk3qcwo7x] {
    background: #e0d054;
}

.notif-med[b-gpk3qcwo7x] {
    background: #fe0808;
}

.time[b-gpk3qcwo7x] {
    border: none;
    background: none;
    font-size: 13px;
    font-weight: normal;
    width: 100%;
    display: inline-block;
    padding: 0px;
    margin: -5px;
    margin-top: -15px;
}
    /*.days li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: #777;
    }*/

        /* Highlight the "current" day */
        /*.days li .active {
            padding: 5px;
            background: #1abc9c;
            color: white !important
        }*/

@media (max-width: 641px) {
    .dayholder[b-gpk3qcwo7x] {
        padding: 5px;
        padding-bottom: 0px;
        /*padding-left: 5px;
        padding-right: 5px;
        background: #2e3a89;
        color: #000000;*/
        width: 100%;
        height: 450px;
        min-width: 325px;
/*        font-size: 10px;*/
    }
    .days[b-gpk3qcwo7x] {
        padding: 5px; /*inner*/
        border-radius: 5px;
        background: #eee;
        margin: 0;
        margin-bottom: 5px;
        margin-right: 5px;
        display: inline-block;
        width: 12.7%;
        height: 19%;
        font-weight: bold;
        font-size: 11px;
        text-align: right;
        vertical-align: top;
        overflow: clip;
    }

    .weekdays[b-gpk3qcwo7x] {
        margin: 0;
        padding: 10px 0;
        min-width: 325px;
    }
    .weekdays li[b-gpk3qcwo7x] {
        display: inline-block;
        width: 12%;
        color: #666;
        text-align: center;
    }

    .notif[b-gpk3qcwo7x] {
        display: inline-block;
        object-fit: contain;
        float: left;
        text-align: center;
        width: 30%;
        border: solid;
        border-width: 1px;
        border-radius: 5px;
        height: 20px;
        margin-top: 2px;
        font-weight: bold;
        word-wrap: anywhere;
    }

    .month[b-gpk3qcwo7x] {
        padding: 40px 25px;
        width: 100%;
        background: #2e3a89;
        text-align: center;
        height: 150px;
        font-size: 18px;
        min-width: 325px;
    }

    .time[b-gpk3qcwo7x] {
        border: none;
        background: none;
        font-size: 10px;
        font-weight: normal;
        width: 100%;
        display: inline-block;
        padding: 0px;
        margin: -5px;
    }
}
